on:
  push:
    branches:
      - main
    tags:
      - '**'
  pull_request:

# cancel older runs of a pull request;
# this will not cancel anything for normal git pushes
concurrency:
  group: cancel-old-pr-runs-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true


jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        java-version: [8, 11]

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.os == 'windows-latest' }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: temurin

      # Check publishing
      - run: ./millw -i __.publishLocal $(pwd)/testRepo
        if: matrix.os != 'windows-latest'
      - run: .\millw.bat -i __.publishLocal %GITHUB_WORKSPACE%/testRepo
        if: matrix.os == 'windows-latest'

      # Test
      - run: ./millw -i -k __.test
        if: matrix.os != 'windows-latest'
      - run: ./millw.bat -i -k __.test
        if: matrix.os == 'windows-latest'

      # Coverage
      - run: ./millw -i -j 0 -k __.scoverage.xmlReport
        if: matrix.os != 'windows-latest'
      - run: ./millw.bat -i -j 0 -k __.scoverage.xmlReport
        if: matrix.os == 'windows-latest'

      - name: Upload scoverage reports to codecov.io
        uses: codecov/codecov-action@v3
        with:
          files: ./out/core/0.11/scoverage/xmlReport.dest/scoverage.xml,./out/core/0.10/scoverage/xmlReport.dest/scoverage.xml,./out/core/0.9/scoverage/xmlReport.dest/scoverage.xml
        continue-on-error: true

  publish:
    needs: [build]
    if: github.repository == 'lefou/mill-jacoco' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    concurrency: publish-{{ github.sha }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: temurin

      - run: ./millw -i __.publishLocal testRepo

      - name: Setup GPG secrets
        run: |
          gpg --version
          cat <(echo "${{ secrets.GPG_SECRET_KEY }}") | base64 --decode | gpg --batch --import
          gpg --list-secret-keys --keyid-format LONG

      - name: Publish to Maven Central
        run: ./millw -i mill.scalalib.PublishModule/publishAll --sonatypeCreds "${{ secrets.SONATYPE_CREDS }}" --gpgArgs "--passphrase=${{ secrets.GPG_SECRET_KEY_PASS}},--batch,--yes,-a,-b,--pinentry-mode,loopback" --publishArtifacts __.publishArtifacts --readTimeout 600000 --awaitTimeout 600000 --release true --signed true
